@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

/* ----------UTILITY---------- */

.font-open {
  font-family: 'Open Sans', sans-serif;
}

.font-proza {
  font-family: 'Proza Libre', sans-serif;
}

.font-sans {
  font-family: sans-serif;
}

.text-box-styling {
  color: #181818;
  padding: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.thin-text {
  font-weight: 100;
}

.positioning {
  padding-bottom: 10px;
  line-height: 2em;
}

.padding-top {
  padding-top: 10px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
  color: #eeeaf2;
  background-color: #432f6d;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

/* ----------HEADER---------- */
.header {
  background-color: #432f6d;
  color: #eeeaf2;
  font-size: 10px;
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  padding-right: 20px;
}

h1.nav-links {
  cursor: default;
}

.nav-links > a {
  text-decoration: none;
  color: #eeeaf2;
}

/* ----------FORM---------- */

body {
  background-color: #eee;
}

.placeholder-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 4px;
}

.text-box {
  height: 35px;
}

.notes-text-box {
  height: 150px;
  resize: none;
}

.save-button {
  width: 65px;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.delete-modal-button {
  color: #d23c30;
  text-decoration: underline;
  cursor: pointer;
}

/* ----------ENTRIES---------- */

.new-button {
  width: 50px;
}

.entry-list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

.entry {
  margin-bottom: 50px;
}

.no-entries {
  padding-top: 25px;
  font-size: 16px;
  text-align: center;
}

.edit-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  color: #432f6d;
  cursor: pointer;
}

/* ----------DELETE MODAL---------- */

.pop-up-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 33, 33, 0.9);
}

.pop-up {
  display: flex;
  background-color: whitesmoke;
  width: 310px;
  height: 120px;
  border-radius: 4px;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}

.popup-buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
  color: black;
  background-color: #b6b6b6;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.confirm {
  cursor: pointer;
  color: white;
  background-color: #d23c30;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

/* ----------PSEUDO-CLASSES---------- */

input:focus,
textarea:focus {
  outline-color: #472b71;
}

.button:hover {
  background-color: rgb(67, 47, 109, 0.9);
}

.edit:hover {
  color: rgb(67, 47, 109, 0.9);
}

.nav-links > a:hover {
  color: rgb(238, 234, 242, 0.7);
}

.delete-modal:hover {
  color: rgb(210, 60, 48, 0.7);
}

.cancel:hover {
  background-color: rgb(182, 182, 182, 0.9);
}

.confirm:hover {
  background-color: rgb(210, 60, 48, 0.9);
}
