@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

/* ----------UTILITY---------- */

.font-open {
  font-family: 'Open Sans', sans-serif;
}

.font-proza {
  font-family: 'Proza Libre', sans-serif;
}

.text-box-styling {
  color: #181818;
  padding: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.thin-text {
  font-weight: 100;
}

.positioning {
  padding-bottom: 10px;
  line-height: 2em;
}

.padding-top {
  padding-top: 10px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
  color: #eeeaf2;
  background-color: #432f6d;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.hidden {
  display: none;
}

/* ----------HEADER---------- */
.header {
  background-color: #432f6d;
  color: #eeeaf2;
  font-size: 10px;
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  padding-right: 20px;
}

h1.nav-links {
  cursor: default;
}

.nav-links > a {
  text-decoration: none;
  color: #eeeaf2;
}

/* ----------FORM---------- */

body {
  background-color: #eee;
}

.placeholder-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 4px;
}

.text-box {
  height: 35px;
}

.notes-text-box {
  height: 150px;
  resize: none;
}

.save-button {
  width: 65px;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

/* ----------ENTRIES---------- */

.new-button {
  width: 50px;
}

.entry-list {
  list-style: none;
  padding-left: 0;
}

.entry {
  margin-bottom: 50px;
}

.no-entries {
  padding-top: 25px;
  font-size: 16px;
  text-align: center;
}

/* ----------PSEUDO-CLASSES---------- */

input:focus,
textarea:focus {
  outline-color: #472b71;
}

.button:hover {
  background-color: rgb(67, 47, 109, 0.9);
}

.nav-links > a:hover {
  color: rgb(238, 234, 242, 0.8);
}
